:root {
  --primary-green: #2e8b57;
  --light-green: #e8f5e9;
  --text-dark: #1b1b1b;
  --white: #ffffff;
}

body {
  background-color: var(--light-green);
  color: var(--text-dark);
  font-family: Inter Tight, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--primary-green) !important;
}

.navbar-brand {
  background: linear-gradient(
    45deg,
    rgba(245, 247, 245, 0.993),
    rgb(196, 199, 197)
  );
  font-weight: 600;
  text-align: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 5px;
  background-color: #ffffff;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.btn-primary {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}

.btn-primary:hover {
  background-color: #256d45;
}

.card-hover {
  transition: all 0.3s ease;
  border: none;
}

.card-hover:hover {
  background-color: var(--primary-green);
  color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card-hover:hover h5,
.card-hover:hover p {
  color: #ffffff !important;
}

.sidebar .nav-link {
  color: white !important;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s ease;
  padding: 10px 15px;
}

.sidebar .nav-link.active {
  background-color: white !important;
  color: var(--primary-green) !important;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@import url("https://unpkg.com/leaflet/dist/leaflet.css");

.leaflet-container {
  height: 500px;
  width: 100%;
}

.custom-time-slot-btn {
  color: #ffffff;
  border: 2px solid #c3cfce;
  transition: all 0.3s ease;
}

.custom-time-slot-btn:hover {
  background-color: #b5c5c3;
  color: #ffffff;
  border: 2px solid #bfd4d2;
}
.fade-in-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-container.visible {
  opacity: 1;
  transform: translateY(0);
}
